@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  color: #AD5100;
  background: url("../images/background3.jpg") no-repeat top;
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.backColor {
  background-color: #5D2B00; }
.active {
  color: #AD5100;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-50deg); }
  80% {
    transform: rotate(1480deg); }
  100% {
    transform: rotate(1440deg); } }
.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s; }

@media screen and (max-width: 600px) {
  header {
    text-align: center; }
    header .logo {
      display: block-inline;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4%;
      width: 100%; }

  .pm, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
    float: left;
    margin: 5px;
    padding: 20px;
    padding-bottom: 40px; }

  .p1 {
    width: 55%; }

  .p2 {
    width: 60%; }

  .p3 {
    width: 65%; }

  .p4 {
    width: 70%; }

  .p5 {
    width: 75%; }

  .p6 {
    width: 80%; }

  .p7 {
    width: 85%; }

  .p8 {
    width: 90%; }

  .p9 {
    width: 95%; }

  .p10 {
    width: 100%; }

  .body {
    font-family: "Roboto", sans-serif;
    color: #AD5100;
    width: 100%; } }
@media screen and (min-width: 601px) {
  header {
    text-align: center; }
    header .logo {
      display: block-inline;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4%;
    }

  .pd, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
    float: left;
    margin: 5px;
    padding: 20px; }

  .p1 {
    width: 10%; }

  .p2 {
    width: 20%; }

  .p3 {
    width: 30%; }

  .p4 {
    width: 40%; }

  .p5 {
    width: 50%; }

  .p6 {
    width: 60%; }

  .p7 {
    width: 70%; }

  .p8 {
    width: 80%; }

  .p9 {
    width: 90%; }

  .p10 {
    width: 100%; }

  .body {
    font-family: "Roboto", sans-serif;
    color: #AD5100;
    font-size: 1.5em; }

  @keyframes slideOver {
    0% {
      padding-right: 20px; }
    50% {
      padding-right: 50px; }
    100% {
      padding-right: 20px; } }
  .slideOver:hover {
    animation-name: slideOver;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; } }


.frontpageImage {
 width: 80%;
 height: auto;
 margin: 0 auto;
 margin-top: 5%;
 margin-bottom: 5%;
}

/*# sourceMappingURL=global.css.map */
