/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
 }

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  text-align: right; 
  color:#AD5100; 
  }

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
  color: #AD5100; 
}

.nav-item-display {
  display: none; }

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  z-index: 1;
  /* non-critical apperance styles */
  padding: 4em;
  /*  background: url('images/background3.jpg') no-repeat top;
    background-size: 100%;
    background-color: gray;
    background-attachment: fixed;*/ }

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
  display: none; }

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 2;
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../images/menu1.png");
  background-size: contain; }

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: right 0.2s; }

.nav-trigger:checked + label {
  right: 215px; }

.nav-trigger:checked ~ .site-wrap {
  right: 200px; }

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden; }

/* Micro reset */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=navRight.css.map */
